.panel.panel-default
  .panel-heading
    .panel-title= @post.title
    %small.text-muted= @post.created_at.strftime("%Y.%m.%d %l:%M %P")
  .panel-body
    %p
      = @post.body

%hr
  %ul.list-group
  - @comments.each do |comment|
    = render :partial => "comments/comment", :locals => {:comment => comment}

  - if @comments.empty?
    %li.list-group-item No comments.

  = form_for [@post, @comment], remote: true, html: {class: "form-horizontal", role:"form", style:"margin-top:30px;"} do |f|
    .form-group
      .col-lg-2
        %img.img-circle{src:"//placehold.it/75"}
      .col-lg-10
        = f.text_area :body, class: "form-control", rows: 3
    = f.submit "Submit", class: "btn btn-primary pull-right"

