:javascript
  $(document).ready(function() {
    var source = new EventSource('/stream/notification?post_id=#{@post.id}'),
      message;
    source.addEventListener('comment', function (e) {
      message = JSON.parse(e.data);
      $.get("/posts/#{@post.id}/comments/" + message.id, function(data) {
          console.log(data);
          $('#comments').append(data);
      });
    });
  });
- content_for :nav_post, true
.panel.panel-default
  .panel-heading
    .panel-title= @post.title
    %small.text-muted= @post.created_at.strftime("%Y.%m.%d %l:%M %P")
  .panel-body
    %p
      = @post.body
%a{:href => "#{posts_path}"}
  %span.glyph-icon.glyphicon-list 목록

%hr
  %ul.list-group#comments
    - @comments.each do |comment|
      = render :partial => "comments/comment", :locals => {:comment => comment}

  - if @comments.empty?
    %li.list-group-item#no-comment No comments.

  = form_for [@post, @comment], remote: true, html: {class: "form-horizontal", role:"form", style:"margin-top:30px;"} do |f|
    .form-group
      .col-lg-12
        = f.text_area :body, class: "form-control", rows: 3
      .col-lg-12
        %span.input-group-btn
          = f.submit "Submit", class: "btn btn-primary pull-right form-control"

