<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="서울대학교,와플스튜디오,wafflestudio,snu,animal,zoo" />
    <meta name="description" content="서울대학교 동물놀이 서비스입니다." />
    <meta name="author" content="Jaewha Han,Taekmin Kim" />
    <meta name="publisher" content="wafflestudio" />
    <meta property="og:title" content="서울대학교 동물놀이" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://zoo.snu.ac/animal_pics/%ED%98%B8%EB%9E%91%EB%82%98%EB%B9%84.jpg"/>
    <meta property="og:url" content="http://zoo.snu.ac"/>
    <meta property="og:description" content="서울대학교 동물놀이 서비스입니다." />
    <meta property="fb:app_id" content=""/>
    <%= csrf_meta_tags %>
    <title>SNU Animals</title>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!-- Favicons -->
    <%= favicon_link_tag "favicons/apple-touch-icon-144-precomposed.png", :sizes => "144x144", :rel => "apple-touch-icon-precomposed", :type => "image/png" %>
    <%= favicon_link_tag "favicons/apple-touch-icon-114-precomposed.png", :sizes => "114x114", :rel => "apple-touch-icon-precomposed", :type => "image/png" %>
    <%= favicon_link_tag "favicons/apple-touch-icon-72-precomposed.png", :sizes => "72x72", :rel => "apple-touch-icon-precomposed", :type => "image/png" %>
    <%= favicon_link_tag "favicons/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed", :type => "image/png" %>
    <%= favicon_link_tag "favicons/favicon.png" %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "application-ie", "data-turbolinks-track" => true %>
    <![endif]-->
  </head>
  <body>
    <%= render :partial => "layouts/nav" %>
    <div id="flash-error">
      <% if flash[:error] -%>
        <%= render :partial => "layouts/alert_flash", :locals => {:msg => flash[:error]} %>
      <% end -%>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
